/* Header.css */
header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: var(--nav-height);
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    transition: var(--transition);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}

*,
::before,
::after {
    box-sizing: inherit;
}

nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;
}

.linksStyle {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.linksStyle ol {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.linksStyle ol li {
    margin: 0px 5px;
    position: relative;
    counter-increment: item 1;
    font-size: var(--fz-xs);
    opacity: 0;
}

.linksStyle ol li a {
    padding: 10px;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

.linksStyle ol li a::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--green);
    font-size: var(--fz-xxs);
    text-align: right;
}

.linksStyle ol li a:hover {
    color: var(--green);
}

@keyframes fadedown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.linksStyle ol li.fadedown {
    animation: fadedown 0.5s ease-out forwards;
}

.linksStyle ol li.fadedown:nth-child(1) {
    animation-delay: 0.1s;
}

.linksStyle ol li.fadedown:nth-child(2) {
    animation-delay: 0.2s;
}

.linksStyle ol li.fadedown:nth-child(3) {
    animation-delay: 0.3s;
}

.linksStyle ol li.fadedown:nth-child(4) {
    animation-delay: 0.4s;
}

.linksStyle .CVButton {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-left: 15px;
    font-size: var(--fz-xs);
    opacity: 0;
}

.linksStyle a.fadedown {
    animation: fadedown 0.5s ease-out forwards;
    animation-delay: 0.5s;
}